@model List<Article> 

@{
    ViewData["Title"] = "Home Page";
}
<h1>Default Area içerisindesiniz</h1>
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var article in Model)
{
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">@article.Title</h5>
            <p class="card-text">@article.Content</p>
            <a href="@Url.Action("Details", "Articles", new { id = article.Id })" class="btn btn-primary">Read More</a>
        </div>
    </div>
})